body{
    height: 100vh;
}

.navigation {
  height: 8vh;
  min-height: 65px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  background: black;
  gap: 20px;
  padding-right: 20px;
}

.navigation a {
  color: inherit;
  text-decoration: none;
  color: #e8e8e8;
  padding: 10px;
}
.navigation a:hover {
  margin: 8px;
  background: #888;
  color: #f4f4f4;
  border-radius: 8px;
}

main{
    display: flex;
    max-width: 980px;
    margin: 20px auto 0px auto;
    justify-content: center;
    height: 80vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.about-me-info{
    display: flex;
    align-items: center;
}

.about-me-info p{
    margin: 100px;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
